p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
pre.numberSource code > span > a:first-child::before {
  left: 0.5em;
}
pre.numberSource code > span > a {
  padding-right: 1rem;
}
table caption {
  text-align: left;
}
[aria-label = "Twitter"], [aria-label = "Facebook"], [aria-label = "Share"] { display: none !important; }
